<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DISPLAY USER</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0 ; i < dataTable.length; i++) {%>
                <tr>
                    <th>
                        <%= dataTable[i].email %>
                    </th>
                    <td>
                        <%= dataTable[i].firstName %>
                    </td>
                    <td>
                        <%= dataTable[i].lastName %>
                    </td>
                    <td>
                        <%= dataTable[i].address %>
                    </td>
                </tr>
                <%} %>
        </tbody>
    </table>

</body>

</html>