<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The An</title>
</head>

<body>
    <h1>Hello The An</h1>
    <p>
        <%=data%>
    </p>
</body>

</html>